.CardEpisode{
  margin: auto 0;
  margin-top: 30px;
  width: 230px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* CHIP */

.chip {
  justify-self: center;
  width: 25rem;
  min-height: 120px;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;

}
.chip__icon {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  margin: 0 0 0 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: var(--primary);
}
.chip p {
    font-size: 0.9rem;
    /* margin-left: -1.8rem; */
    text-align: left;
    width: 85%;
    color: var(--greyDark);
}

.chip p.name{
  font-size: 1.3rem;
  font-weight: 700;
    /* margin-left: -1.8rem; */
    text-align: left;
    width: 85%;
    color: var(--primary);
}


.chip p.status{
  font-size: 1rem;
  /* font-weight: 700; */
    /* margin-left: -1.8rem; */
    text-align: left;
    width: 85%;
    color: var(--greyDark);
}
.chip__close {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0.5rem;
  display: flex;
  font-size: 1.6rem;
  color: var(--greyLight-3);
  cursor: pointer;
}


.pic-character{
  width: 200px;
  border-radius: 30px;
}

.container-details-character{
  display: flex;
}


.btn-favorite{
  width: 50px;
  border-radius: 100px;
  position: relative;
  background-color: var(--greyLight-1);
  top: -40px;
  right: -100px;
}

.icon-favorite{
  color: red;
}

.details{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 15px;
  padding-left: 18px;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}